<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        a.nav-link {
            color: #4CAF50;
        }

            a.nav-link:hover {
                text-decoration: underline;
            }
    </style>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark" style="background-color: #333;">
        <div class="container">
            @Html.ActionLink("✈ ARS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("User Home", "UserHome", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Schedules", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })</li>*@
                    <li>@Html.ActionLink("My Bookings", "Index", "Booking", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="d-flex">
                            <div class="nav-link">@Html.ActionLink("My Profile", "Details", "Home", new { area = "" }, new { @class = "nav-link" })</div>
                            <div class="nav-link">@Html.ActionLink("LogOut", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="margin-top: 20px;">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Airline Reservation System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
