@model Flight_Booking_System.Models.Airline

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 18px;
            margin-top: 20px;
        }

        .dl-horizontal dt {
            width: 100px;
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 120px;
            margin-bottom: 10px;
        }

        .form-actions {
            margin-top: 20px;
        }

            .form-actions .btn {
                padding: 8px 16px;
                background-color: #337ab7;
                color: #fff;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 14px;
            }

                .form-actions .btn:hover {
                    background-color: #23527c;
                }

                .form-actions .btn:active {
                    background-color: #1d4567;
                }

        .back-link {
            color: #337ab7;
            text-decoration: none;
        }

            .back-link:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Airline</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AirlineName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AirlineName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SeatingCapacity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SeatingCapacity)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "back-link" })
            </div>
        }
    </div>
</body>
</html>
