@model Flight_Booking_System.Models.UserLogin

@{
    ViewBag.Title = "SignUp";
}

<style>
    button {
        --primary-color: #645bff;
        --secondary-color: #fff;
        --hover-color: #111;
        --arrow-width: 10px;
        --arrow-stroke: 2px;
        box-sizing: border-box;
        border: 0;
        border-radius: 20px;
        background: #cddae1;
        padding: 1em 1.8em;
        display: flex;
        transition: 0.2s background;
        align-items: center;
        gap: 0.6em;
        font-weight: bold;
    }

    .navbar {
        max-height: 20px;
    }

    button .arrow-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button .arrow {
        margin-top: 1px;
        width: var(--arrow-width);
        background: #cddae1;
        height: var(--arrow-stroke);
        position: relative;
        transition: 0.2s;
    }

        button .arrow::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            border: solid var(--secondary-color);
            border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
            display: inline-block;
            top: -3px;
            right: 3px;
            transition: 0.2s;
            padding: 3px;
            transform: rotate(-45deg);
        }

    button:hover {
        background-color: var(--hover-color);
        color: aliceblue;
    }

        button:hover .arrow {
            background: var(--secondary-color);
        }

            button:hover .arrow:before {
                right: 0;
            }

    .form-horizontal {
        width: 400px;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 5px;
        background-color: #ffcb5a;
        margin-left: 800px;
        margin-bottom: 5px;
        box-shadow: 15px 15px;
    }

    .form-group {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .control-label {
        font-weight: bold;
    }

    .text-danger {
        color: red;
    }

    .form-control {
        width: 110%;
        padding: 5px;
        font-size: 14px;
        border-radius: 3px;
        color: #2a4f77;
    }

    .btn-login {
        padding: 8px 20px;
        align-content: center;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 3px;
        cursor: alias;
        transition: background-color 0.3s ease;
    }

        .btn-login:hover {
            background-color: #0056b3;
        }

    .contain {
        background-image: url('../../Images/BG images/93481S.jpg');
        background-size: 100% 160%;
        display: flex;
        flex-direction: column;
    }

    .container {
        min-width: 100%;
        min-height: 100%;
    }

        .container body-content {
            margin-top: 0px;
        }

    h1 {
        font-size: 100PX;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: flex;
        width: 50%;
    }


    h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #333;
    }

    .name {
        display: flex;
    }

    label {
        display: inline;
    }

    .body-content {
        padding: 0px;
    }
</style>


@using (Html.BeginForm())
{
    <div class="contain">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>User Registration</h4>
            <hr>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="name">
                <div class="form-group" style="color: #ff4965">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg: Manish" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: #ff4965">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg: Raj" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" style="color: #ff4965">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg: user@domain.com" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="name">
                <div class="form-group" style="color: #ff4965">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg: Pas$w0rD" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color: #ff4965">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg: Pas$w0rD" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" style="color: #ff4965">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg: 33" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="color: #ff4965">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "number", @placeholder = "eg: 9876543210" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button style="box-shadow:5px 5px">
                                Sign Up
                                <div class="arrow-wrapper">
                                    <div class="arrow"></div>

                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}